@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@font-face {
	font-family: 'NMS-Glyphs-Mono';
	src: url(https://nomanssky.fandom.com/media/hydra/fonts/NMS-Glyphs-Mono.ttf) format('truetype');
}

.glyphs {
	font-family: NMS-Glyphs-Mono;
	font-size: 2.5rem;
	vertical-align: sub;
	word-break: break-all;
}

html,
body {
	font-family: sans-serif;
}

.container {
	margin-top: 2rem;
}

.title,
.subtitle,
.content {
	text-align: center;
}

main img {
	display: block;
	margin: 0 auto;
	padding: 0 1rem;
}

#Time .dateTable {
	display: grid;
	grid-template-columns: 50px auto;
	margin-left: 2rem;
}

#Time .timezone {
	margin-top: .5rem;
	font-weight: bolder;
}

#Time .timeSlot {
	font-weight: bold;
}

#Time button {
	margin-top: 1rem;
}

#Time .timezoneNote {
	font-size: small;
	margin-top: 3px;
}

table.table {
	margin-bottom: 1.5rem;
	margin-top: .5rem;
	border: 1px solid lightgrey;
	border-radius: 5px;
	border-collapse: unset;
}

table.table td {
	vertical-align: middle;
}

table.table td br {
	margin-bottom: .75rem;
}

footer {
	text-align: center;
	margin-top: 5rem;
}

footer .icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: min(4rem, 4vw);
}

footer .content {
	margin-top: 1rem;
}

iframe {
	display: block;
	margin: 0 auto;
	border: 1px solid lightgray;
	border-radius: 7px;
	margin-bottom: .5rem;
}

.streamList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 15vw;
}

.streamList>* {
	margin: .5rem;
}

.streamRegion>* {
	display: flex;
	margin: 1rem;
	justify-content: left;
}